body {background-image: url("tausta.png");background-color: #4d0028;margin-left: 7%;margin-right: 7%;}
h1 {color: #ffffff; text-align: center;font-family: impact;font-size: 400%;}
h2 {color: #ffffff; font-family: script;}
table {border: 1px solid #000000;background-color: #ffe6f3;}
